/vendor/
**/bin/
**/obj/
**/node_modules/
**/.vs
**/.vscode
**/.idea
**/.ionide
.pulumi
Pulumi.*.yaml
provider/pkg/coverage.txt
/provider/pkg/gen/openapi-specs
/provider/cmd/pulumi-resource-kubernetes/schema.go
/provider/cmd/pulumi-resource-kubernetes/schema-embed.json
/provider/cmd/pulumi-resource-kubernetes/terraform-mapping-embed.json
yarn.lock
ci-scripts
/nuget/
**/.DS_Store

sdk/java/build
sdk/java/.gradle
sdk/java/gradle
sdk/java/gradlew
sdk/java/gradlew.bat

sdk/python/venv
