# It may be tempting to add parens around each individual clause in this expression, but Travis then builds pushes anyway
if: branch = master OR branch =~ ^features/ OR branch =~ ^feature- OR branch =~ ^release/ OR tag =~ ^v\d+.*
language: go
go: 1.15.x
sudo: true # give us 7.5GB and >2 bursted cores.
git:
    depth: false
cache:
  directories:
    - ${HOME}/google-cloud-sdk
before_install:
    - export IS_EXTERNAL_PR=""
    - if [ "$TRAVIS_SECURE_ENV_VARS" = "false" ]; then
          IS_EXTERNAL_PR="true";
      fi

    # Install gcloud CLI.
    - if [ ! -d ${HOME}/google-cloud-sdk/bin ]; then
          export CLOUDSDK_CORE_DISABLE_PROMPTS=1; rm -rf ${HOME}/google-cloud-sdk; curl https://sdk.cloud.google.com | bash;
      fi
    - export CLOUDSDK_PYTHON=python3
    - export PATH=${HOME}/google-cloud-sdk/bin:$PATH
    - gcloud version

    # 1. Log in to gcloud using the CI GCP service account.
    # 2. Set up kubeconfig file so the integration tests can run.
    #
    #    NOTE: External PRs can't run integration tests because Travis CI doesn't supply them in
    #    this case. Hence, here we simply disable them.
    - if [ "$IS_EXTERNAL_PR" != "true" ]; then
          openssl aes-256-cbc -K $encrypted_d80a2d296111_key -iv $encrypted_d80a2d296111_iv
            -in credentials.tar.gz.enc -out credentials.tar.gz -d;
          tar -xzf credentials.tar.gz;

          gcloud auth activate-service-account --key-file client-secret.json;
          export GOOGLE_APPLICATION_CREDENTIALS="$(pwd)/client-secret.json";
      fi

    - git clone https://github.com/pulumi/scripts ${GOPATH}/src/github.com/pulumi/scripts
    - source ${GOPATH}/src/github.com/pulumi/scripts/ci/prepare-environment.sh
    - source ${PULUMI_SCRIPTS}/ci/keep-failed-tests.sh
install:
    - source ${PULUMI_SCRIPTS}/ci/install-common-toolchain.sh
    - source ${PULUMI_SCRIPTS}/ci/configure-aws.sh

    # Install Helm CLI. Do not install Tiller.
    - curl -LO  https://get.helm.sh/helm-v3.2.1-linux-amd64.tar.gz
    - tar -xvf helm-v3.2.1-linux-amd64.tar.gz
    - sudo mv linux-amd64/helm /usr/local/bin
    - helm repo add stable https://kubernetes-charts.storage.googleapis.com/
    - helm repo update

    # Install Pulumi
    - curl -fsSL https://get.pulumi.com | bash -s
    - export PATH=$HOME/.pulumi/bin:$PATH
before_script:
    - ${PULUMI_SCRIPTS}/ci/ensure-dependencies
    - export STACK=${PULUMI_TEST_OWNER}/ci-cluster-$(head /dev/urandom | LC_CTYPE=C tr -dc '[:lower:]' | head -c5)
script:
    - scripts/ci-cluster-create.sh && echo Running tests && travis_wait 60 make travis_${TRAVIS_EVENT_TYPE}
after_failure:
    - ${PULUMI_SCRIPTS}/ci/upload-failed-tests
after_script:
    - scripts/ci-cluster-destroy.sh
notifications:
  webhooks:
    - https://zlmgkhmhjc.execute-api.us-west-2.amazonaws.com/stage/travis
