# It may be tempting to add parens around each individual clause in this expression, but Travis then builds pushes anyway
if: branch = master OR branch =~ ^release/ OR tag IS present
language: go
go: 1.11
sudo: true # give us 7.5GB and >2 bursted cores.
git:
    depth: false
before_install:
    - openssl aes-256-cbc -K $encrypted_095ae97b50fd_key -iv $encrypted_095ae97b50fd_iv
      -in credentials.tar.gz.enc -out credentials.tar.gz -d
    - tar -xzf credentials.tar.gz

    # Install and log into gcloud so that we can access the GKE CI cluster.
    - if [ ! -d ${HOME}/google-cloud-sdk ]; then
        curl https://sdk.cloud.google.com > gcloud-install.sh;
        chmod a+x ./gcloud-install.sh;
        ./gcloud-install.sh --disable-prompts;
      fi
    - gcloud auth activate-service-account --key-file client-secret.json
    - export GOOGLE_APPLICATION_CREDENTIALS="$(pwd)/client-secret.json"

    # Put kubeconfig file in the usual place. The test harness picks this up and refers to it as
    # $KUBERNETES_CONTEXT.
    - mkdir ~/.kube && mv ./kubeconfig.yaml ~/.kube/config

    # Install istioctl for the Istio integration tests.
    - curl -sL https://github.com/istio/istio/releases/download/1.0.1/istio-1.0.1-linux.tar.gz > istio.tar.gz
    - tar -xzf istio.tar.gz
    - sudo mv istio-1.0.1/bin/istioctl /usr/local/bin
    - rm -rf istio-1.0.1 # Delete so go doesn't pick up the Istio source.

    - git clone https://github.com/pulumi/scripts ${GOPATH}/src/github.com/pulumi/scripts
    - source ${GOPATH}/src/github.com/pulumi/scripts/ci/prepare-environment.sh
    - source ${PULUMI_SCRIPTS}/ci/keep-failed-tests.sh
install:
    # Work around https://github.com/pypa/pipenv/issues/3257 until Pipenv cuts a new release with the fix
    - mkdir -p /home/travis/.local/share/virtualenvs
    - source ${PULUMI_SCRIPTS}/ci/install-common-toolchain.sh

    # Install Helm CLI. Do not install Tiller.
    - curl -LO  https://storage.googleapis.com/kubernetes-helm/helm-v2.9.1-linux-amd64.tar.gz
    - tar -xvf helm-v2.9.1-linux-amd64.tar.gz
    - sudo mv linux-amd64/helm /usr/local/bin
    - helm init --client-only

    # Install kubectl
    - curl -Lo kubectl https://storage.googleapis.com/kubernetes-release/release/v1.9.0/bin/linux/amd64/kubectl
    - sudo chmod +x kubectl
    - sudo mv kubectl /usr/local/bin/

    # Install Pulumi
    - curl -L https://get.pulumi.com/ | bash
    - export PATH=$HOME/.pulumi/bin:$PATH
before_script:
    - "${PULUMI_SCRIPTS}/ci/ensure-dependencies"
script:
    - travis_wait 40 make travis_${TRAVIS_EVENT_TYPE}
after_failure:
    - "${PULUMI_SCRIPTS}/ci/upload-failed-tests"
notifications:
    webhooks: https://ufci1w66n3.execute-api.us-west-2.amazonaws.com/stage/travis
